header{
	position: relative;
	height: 205px;
}
#search{
	position: relative;
	top: -30px;
	left: 80%;
	font-style: blue;
}
.middle{
	margin: auto;
	border: #000000 2px solid;
	width: 40%;
	padding: 20px;
}
.left{
	padding: 6.5px;
	margin: auto;
	float: left;
	width: 25%;
	height: 800px;
	border: #000000 1px dashed;
}
.right{
	padding: 6.5px;
	float: right;
	width: 25%;
	height: 800px;
	border: #000000 1px dashed;
}
ul{
	list-style-type: none;
}
.middle input{ 
	display: block; 
}